{% extends "layouts/base.html" %}

{% block title %} Tables {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<form action='.' method='POST'>{% csrf_token %}
	{{ form.as_p }}
	<input type='submit' value='Save' />
</form>
</body>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="/static/assets/js/datatables-simple-demo.js"></script>

{% endblock javascripts %}

<!-- 
a simple google search form added to an page
<form action= 'http://www.google.co.za/search' method='GET'> 
	<input type='text' name='q' placeholder = "Google Search" />
	<input type='submit' value='Search' />
</form> -->


<!-- fast and easy of adding a form to n app (method 1) -->
<!-- <form method='POST'> {% csrf_token %}
{{ form.as_p }}
<input type='submit' value='Save' />
</form> -->

