
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="Sb Admin dashboard migrated to Python by AppSeed" />
        <meta name="author" content="startbootstrap & AppSeed" />

        <title>
            IT Projects
        </title>
        
        <link href="/static/assets/css/styles.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
        
    </head>
    <body class="sb-nav-fixed">

        {% include 'includes/navigation.html' %}

        <div id="layoutSidenav">
            
            {% include 'includes/sidebar-light.html' %}
            

            <div id="layoutSidenav_content">

                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Sidenav Light</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item active">Sidenav Light</li>
                        </ol>
                    </div>
                </main>

                {% include 'includes/footer.html' %}

            </div>
        </div>

        {% include 'includes/scripts.html' %}
    
    </body>
</html>
